.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.site-comments {
  max-height: 30vh;
  overflow: scroll;
  width: 80vw ; /* This must be same as popup-container-div*/
  max-width: 80vw !important; /* This must be same as popup-container-div*/;
}

.popup-container-div {

  overflow: auto;
  height: 60vh;
  width: 80vw;

}


.leaflet-popup-content {
  width: 80vw !important; /* This must be same as popup-container-div*/
}